body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ipad {
    flex-direction: column;
    min-width: 60%;
    border: 16px solid black;
    border-radius: 0.8em;
    min-height: 80%;
}

.quote {
    color: white;
    font-size: 70px;
    min-width: 100%;
    min-height: 20%;
    background-color: #234e79;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.quote q {
    color: white;
    font-size: 70px;
}

.quote h2 {
    font-size: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    width: 100%;
}

.main div {
    background-color: #234e79;
    border-radius: 30em;
    margin: 0.3em;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%
}

.bar {
    width: 100%;
    max-height: 30px !important;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em;
}

.bar div {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.bottom-bar {
    justify-content: center;
}